.openwoo__fieldset {
  margin-block: var(--openwoo-fieldset-margin-block, 0 2rem);
  margin-inline: var(--openwoo-fieldset-margin-margin, 0);
  padding-block: var(--openwoo-fieldset-padding-block, 1rem);
  padding-inline: var(--openwoo-fieldset-padding-inline, 1rem);
  border: var(--openwoo-fieldset-border, 1px solid);
  border-radius: var(--openwoo-fieldset-border-radius, 0);
}

.openwoo__fieldset .openwoo__fieldset {
  margin-block: var(--openwoo-fieldset-inner-margin-block, 0);
}

.openwoo__legend {
  margin-block: var(--openwoo-legend-margin-block, 0);
  margin-inline: var(--openwoo-legend-margin-margin, 0);
  padding-block: var(--openwoo-legend-padding-block, 0);
  padding-inline: var(--openwoo-legend-padding-inline, 0.5rem);
  color: var(--openwoo-legend-color, currentColor);
  font-size: var(--openwoo-legend-font-size, inherit);
  font-weight: var(--openwoo-legend-font-size, inherit);
}

.openwoo__fieldset-wrapper {
  display: var(--openwoo-fieldset-wrapper-display, flex);
  flex-direction: var(--openwoo-fieldset-wrapper-flex-direction, column);
  grid-gap: var(--openwoo-fieldset-wrapper-spacing, 1.5rem);
}

.openwoo__details {
  margin-block: var(--openwoo-details-margin-block, 0);
  margin-inline: var(--openwoo-details-margin-margin, 0);
  padding-block: var(--openwoo-details-padding-block, 0);
  padding-inline: var(--openwoo-details-padding-inline, 0);
}

.openwoo__details-summary {
  cursor: pointer;
  margin-block: var(--openwoo-details-summary-margin-block, 0);
  margin-inline: var(--openwoo-details-summary-margin-margin, 0);
  padding-block: var(--openwoo-details-summary-padding-block, 0.5rem);
  padding-inline: var(--openwoo-details-summary-padding-inline, 1rem);
  color: var(--openwoo-details-summary-color, currentColor);
  border: var(--openwoo-details-summary-border, 1px solid);
  font-size: var(--openwoo-details-summary-font-size, inherit);
  font-weight: var(--openwoo-details-summary-font-weight, inherit);
}

.openwoo__details-wrapper {
  display: var(--openwoo-details-wrapper-display, flex);
  flex-direction: var(--openwoo-details-wrapper-flex-direction, column);
  grid-gap: var(--openwoo-details-wrapper-spacing, 1.5rem);
  padding-block: var(--openwoo-details-wrapper-padding-block, 1rem);
  padding-inline: var(--openwoo-details-wrapper-padding-inline, 1rem);
  border-inline-width: var(--openwoo-details-wrapper-border-inline-width, 1px);
  border-block-width: var(--openwoo-details-wrapper-border-block-width, 0 1px);
  border-style: var(--openwoo-details-wrapper-border-style, solid);
  border-color: var(--openwoo-details-wrapper-border-color, inherit);
}

.openwoo__field {
  margin-block: var(--openwoo-field-margin-block, 0);
  margin-inline: var(--openwoo-field-margin-margin, 0);
  padding-block: var(--openwoo-field-padding-block, 0);
  padding-inline: var(--openwoo-field-padding-inline, 0);
}

.openwoo__label {
  margin-block: var(--openwoo-label-margin-block, 0);
  margin-inline: var(--openwoo-label-margin-inline, 0);
  padding-block: var(--openwoo-label-padding-block, 0);
  padding-inline: var(--openwoo-label-padding-inline, 0);
  color: var(--openwoo-label-color, currentColor);
  font-size: var(--openwoo-label-font-size, inherit);
  font-weight: var(--openwoo-label-font-weight, 700);
}

.openwoo__item {
  margin-block: var(--openwoo-item-margin-block, 0);
  margin-inline: var(--openwoo-item-margin-inline, 0);
  padding-block: var(--openwoo-item-padding-block, 0);
  padding-inline: var(--openwoo-item-padding-inline, 0);
  color: var(--openwoo-item-color, currentColor);
  font-size: var(--openwoo-item-font-size, inherit);
  font-weight: var(--openwoo-item-font-weight, inherit);
}

.openwoo__attachments-ul {
  margin-block: var(--openwoo-attachment-ul-margin-block, 0);
  margin-inline: var(--openwoo-attachment-ul-margin-inline, 1rem 0);
  padding-block: var(--openwoo-attachment-ul-padding-block, 0);
  padding-inline: var(--openwoo-attachment-ul-padding-inline, 0);
  list-style-type: var(--openwoo-attachment-ul-list-style-type, inherit);
}

.openwoo__attachments-li {
  margin-block: var(--openwoo-attachment-li-margin-block, 0 0.5rem);
  margin-inline: var(--openwoo-attachment-li-margin-inline, 0);
  padding-block: var(--openwoo-attachment-li-padding-block, 0);
  padding-inline: var(--openwoo-attachment-li-padding-inline, 0);
}

.openwoo__attachments {
  color: var(--openwoo-attachment-color, currentColor);
  font-size: var(--openwoo-attachment-font-size, inherit);
  font-weight: var(--openwoo-attachment-font-weight, inherit);
}
