{#
/**
 * @file
 * Template for displaying the OpenWoo results.
 *
 * Available variables:
 * - results: The OpenWoo results.
 * - search_stats: The search statistics.
 */
#}

{{ attach_library('openwoo_search/openwoo_search') }}

{% block openwoo_results_title %}
  <h3 class="openwoo__results-title">{{- "Search results" | t -}}</h3>
{% endblock %}

{% block openwoo_results_meta %}
  {%- if search_stats -%}
    <div class="openwoo__results-meta">{{- search_stats -}}</div>
  {%- endif -%}
{% endblock %}

{% block openwoo_results %}
  {%- if results -%}
    <ol id="openwoo__results" class="openwoo__results">
      {%- for result in results -%}
        <li class="openwoo__result">
          {% block openwoo_teaser %}
            <article class="openwoo__teaser">
              <header class="openwoo__teaser-header">
                <h4 class="openwoo__teaser-title">
                  <a class="openwoo__teaser-link" href="{{ result.remoteLink }}">
                    {{- result.title -}}
                  </a>
                </h4>
                {%- if result.publishDate -%}
                  <time datetime="{{- result.publishDateIso -}}" class="openwoo__teaser-date">
                    {{- result.publishDate -}}
                  </time>
                {%- endif -%}
              </header>
              {%- if result.description -%}
                <p class="openwoo__teaser-text openwoo__teaser-description">{{- result.description -}}</p>
              {%- endif -%}
              {%- if result.summary -%}
                <p class="openwoo__teaser-text openwoo__teaser-summary">{{- result.summary -}}</p>
              {%- endif -%}
              {%- if result.category or result.year -%}
                <footer class="openwoo__teaser-footer">
                  <div class="openwoo__teaser-tags">
                    {%- if result.category -%}
                      <div class="openwoo__teaser-tag openwoo__teaser-category">{{- result.category -}}</div>
                    {%- endif -%}
                    {%- if result.year -%}
                      <div class="openwoo__teaser-tag openwoo__teaser-year">{{- result.year -}}</div>
                    {%- endif -%}
                  </div>
                </footer>
              {%- endif -%}
            </article>
          {% endblock %}
        </li>
      {%- endfor -%}
    </ol>
  {%- else -%}
    <div id="openwoo__results" class="openwoo__results openwoo__results--empty">
      <em class="openwoo__results-empty-text">{{- "Your search yielded no results." | t -}}</em>
    </div>
  {%- endif -%}
{% endblock %}
