{#
/**
 * @file
 * Template for displaying the OpenWoo attachments.
 *
 * Available variables:
 * - attachment: The OpenWoo attachments
 */
#}

{{ attach_library('openwoo_search/openwoo_search') }}

{% block openwoo_attachments %}
  {%- if attachments -%}
    <div class="openwoo__attachments-wrapper">
      <ul class="openwoo__attachments-ul">
      {%- for attachment in attachments -%}
        <li class="openwoo__attachments-li">
          {{- attachment -}}
        </li>
      {%- endfor -%}
      </ul>
    </div>
  {%- endif -%}
{% endblock %}
