.openwoo-search-form {
  container-type: var(--openwoo-container-type, inline-size);
  container-name: openwoo-search-form;
}

.openwoo__form-wrapper {
  display: var(--openwoo-form-display, flex);
  flex-direction: var(--openwoo-form-flex-direction, row);
  grid-gap: var(--openwoo-form-grid-gap, 1rem);
  align-items: var(--openwoo-form-align-items, flex-end);
  margin-block: var(--openwoo-form-margin-block, 0 2rem);
}

.openwoo__form-wrapper .ajax-progress {
  position: var(--openwoo-ajax-progress-position, absolute);
  inset-block-end: var(--openwoo-ajax-progress-position, 100%);
}

@container openwoo-search-form (max-width: 45em) {
  .openwoo__form-wrapper {
    --openwoo-form-flex-direction: column;
  }

  .openwoo__form-wrapper .form-submit {
    align-self: var(--openwoo-form-submit-align-self, flex-start);
  }
}

.openwoo__form-wrapper .form-submit,
.openwoo__form-wrapper .form-item {
  margin-block: var(--openwoo-form-item-margin-block, 0);
  margin-inline: var(--openwoo-form-item-margin-inline, 0);
}

.openwoo__form-wrapper .form-item,
.openwoo__form-wrapper .form-item > * {
  inline-size: var(--openwoo-form-item-width, 100%);
}

.openwoo__results-title {
  margin-block: var(--openwoo-results-title-margin-block, 0);
}

.openwoo__results-meta {
  margin-block: var(--openwoo-results-meta-margin-block, 0 2rem);
  padding-block: var(--openwoo-results-meta-padding-block, 0 2rem);
  border-block-width: var(--openwoo-results-meta-border-block, 0 1px);
  border-inline-width: var(--openwoo-results-meta-border-inline, 0);
  border-style: var(--openwoo-results-meta-border-style, solid);
  border-color: var(--openwoo-results-meta-border-color, currentColor);
}

.openwoo__results {
  margin-block: var(--openwoo-results-margin-block, 0);
  margin-inline: var(--openwoo-results-margin-inline, 0);
  padding-block: var(--openwoo-results-padding-block, 0);
  padding-inline: var(--openwoo-results-padding-inline, 0);
  list-style-type: var(--openwoo-results-list-style-type, none);
}

.openwoo__result {
  margin-block: var(--openwoo-result-margin-block, 0 2rem);
  padding-block: var(--openwoo-result-padding-block, 0 2rem);
  border-block-width: var(--openwoo-result-border-block, 0 1px);
  border-inline-width: var(--openwoo-result-border-inline, 0);
  border-style: var(--openwoo-result-border-style, solid);
  border-color: var(--openwoo-result-border-color, currentColor);
}

.openwoo__teaser {
  padding-block: var(--openwoo-teaser-padding-block, 0);
  padding-inline: var(--openwoo-teaser-padding-inline, 0);
}

.openwoo__teaser-header {
  margin-block: var(--openwoo-teaser-header-margin-block, 0 1em);
}

.openwoo__teaser-footer {
  margin-block: var(--openwoo-teaser-footer-margin-block, 1em 0);
}

.openwoo__teaser-title {
  margin-block: var(--openwoo-teaser-title-margin-block, 0);
  color: var(--openwoo-teaser-title-color, currentColor);
  font-size: var(--openwoo-teaser-title-font-size, 1.125rem);
}

.openwoo__teaser-date {
  margin-block: var(--openwoo-teaser-date-margin-block, 0);
  color: var(--openwoo-teaser-date-color, currentColor);
  font-size: var(--openwoo-teaser-date-font-size, inherit);
}

.openwoo__teaser-link {
  color: var(--openwoo-teaser-link-color-default, currentColor);
}

.openwoo__teaser-link:focus-visible,
.openwoo__teaser-link:hover {
  color: var(--openwoo-teaser-title-color-hover, currentColor);
}

.openwoo__teaser-link:active {
  color: var(--openwoo-teaser-title-color-active, currentColor);
}

.openwoo__teaser-text {
  margin-block: var(--openwoo-teaser-text-margin-block, 1em);
  color: var(--openwoo-teaser-text-color, currentColor);
  font-size: var(--openwoo-teaser-text-font-size, inherit);
}

.openwoo__teaser-tags {
  display: var(--openwoo-teaser-tags-display, flex);
  flex-wrap: var(--openwoo-teaser-tags-display, wrap);
  grid-gap: var(--openwoo-teaser-tags-grid-gap, 1rem);
}

.openwoo__teaser-tag {
  display: var(--openwoo-teaser-tag-display, inline-block);
  padding-block: var(--openwoo-teaser-tag-padding-block, 0);
  padding-inline: var(--openwoo-teaser-tag-padding-inline, .7em);
  color: var(--openwoo-teaser-tag-color, currentColor);
  border: var(--openwoo-teaser-tag-border, 1px solid currentColor);
  border-radius: var(--openwoo-teaser-tag-border-radius, .9em);
  font-size: var(--openwoo-teaser-tag-font-size, inherit);
}
