{#
/**
 * @file
 * Template for displaying the data for an OpenWoo container.
 *
 * Available variables:
 * - item_name: The field container.
 * - item_type: The field container.
 * - item_title: The title of the container.
 * - item_elements: The contained elements.
 */
#}

{% if item_type == "details" %}
  <details class="openwoo__{{- item_type }} openwoo__{{- item_type }}--{{- item_name }}">
    <summary class="openwoo__details-summary openwoo__details-summary--{{- item_name }}">{{- item_title -}}</summary>
    <div class="openwoo__details-wrapper openwoo__details-wrapper--{{- item_name }}">
      {%- for value in item_elements -%}
        {{- value -}}
      {%- endfor -%}
    </div>
  </details>
{% else %}
  <fieldset class="openwoo__{{- item_type }} openwoo__{{- item_type }}--{{- item_name }}">
    <legend class="openwoo__legend openwoo__legend--{{- item_name }}">{{- item_title -}}</legend>
    <div class="openwoo__fieldset-wrapper openwoo__fieldset-wrapper--{{- item_name }}">
      {%- for value in item_elements -%}
        {{- value -}}
      {%- endfor -%}
    </div>
  </fieldset>
{% endif %}
