{#
/**
 * @file
 * Template for displaying the data for an OpenWoo item.
 *
 * Available variables:
 * - item_name: The field name.
 * - item_type: The field type.
 * - item_title: The title of the field.
 * - item_value: the value of the field.
 */
#}

<div class="openwoo__field openwoo__field-{{- item_type }} openwoo__field-{{- item_name }}">
  <div class="openwoo__label openwoo__label--{{- item_type }} openwoo__label--{{- item_name }}">{{- item_title -}}</div>
  <div class="openwoo__item openwoo__item--{{- item_type }} openwoo__item--{{- item_name }}">{{- item_value -}}</div>
</div>
