{#
/**
 * @file
 * Template for displaying the data for an OpenWoo publication.
 *
 * Available variables:
 * - publication_data: The publication-data.
 */
#}

{{ attach_library('openwoo/openwoo') }}

<div class="openwoo__full-node">
  {%- for label, value in publication_data -%}
    {{- value -}}
  {%- endfor -%}
</div>
